<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

<body>
<header>
    <% include ./partials/_header %>
</header>

  <form class="d-flex justify-content-center" action='' method="POST" style="padding-top: 4rem;">
    <fieldset>
      <% if (user && urls !== user) { %>
        <h3 style="padding-bottom: 1rem;">Login to the associated user <br>to access this Tiny URL!</h3>
      <% } %>

      <div>
        <h1>Login</h1>
      </div>
  
      <div>
        <!-- E-mail -->
        <label for="email">E-mail</label>
        <div>
          <input type="email" id="email" name="email" placeholder="">
        </div>
      </div>

      <div>
        <!-- Password-->
        <label for="password">Password</label>
        <div>
          <input type="password" id="password" name="password" placeholder="">
        </div>
      </div>

      <!-- Button -->
      <div class="controls" style="padding-top: 1rem;">
        <button class="btn btn-primary">Login</button>
      </div>
    </fieldset>
  </form>
</body>
</html>